* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-attachment: fixed;
  overflow: hidden;
}

.backContainer {
  /* background-color: rgb(92, 59, 11); */
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* padding: 1.3%; */
  position: relative;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  padding: 1%;
  z-index: 2;
}

.header h1 {
  font-size: 5.2vh;
}

.header h3 {
  font-size: 2vh;
}

.layout {
  flex: 1;
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.mapWrapper {
  transition: width 300ms ease;
  background: #eee;
  position: relative;
  z-index: 1;
}

.infoSidebar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  max-width: 40%;
  background: #0b0b0b;
  padding: 1.6vh;
  box-shadow: -6px 0 18px rgba(0, 0, 0, 0.2);
  z-index: 10;
  overflow-y: auto;
  /* animation: slideIn 0.4s ease-out; */
  transform: translateX(100%);
  transition: transform 300ms ease;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
}

.infoSidebar.open {
  transform: translateX(0);
}

.infoSidebar h3 {
  font-size: 1.886vh;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  padding: 0.8vh;
  height: 4vh;
  width: 4vh;
  border-radius: 50%;
  transition: all 0.2s;
  z-index: 10;
}

.close-btn:hover {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  transform: scale(1.1);
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.infoHeader {
  height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.infoHeader h2 {
  font-size: 2.41692vh;
}

.infoHeader h4 {
  font-size: 1.61128vh;
}

.infoList {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  margin-top: 1vh;
}

.infoList li {
  padding: 5% 3%;
  border: 1px solid black;
  background-color: rgba(17, 17, 17, 0.8);
  border-radius: 1vh;
}

strong {
  font-size: 1.8vh;
  font-weight: 500;
  color: gray;
}

.value-big {
  font-size: 3.3vh;
  font-weight: bold;
  color: white;
}

.value-big small {
  padding-left: 1%;
  font-size: 1.8vh;
  font-weight: 500;
  color: gray;
}

.air-legend {
  position: absolute;
  bottom: 5vh;
  left: 1.5vw;
  background: rgba(0, 0, 0, 0.73);
  backdrop-filter: blur(8px);
  color: white;
  padding: 0.5% 1.2%;
  border-radius: 1.5vh;
  font-family: system-ui, sans-serif;
  font-size: 1.6vh;
  min-width: 6.5vw;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.4);
  z-index: 1000;
  user-select: none;
}

.air-legend-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.air-legend-item {
  display: flex;
  align-items: center;
  gap: 1.1078vh;
  margin: 0.7754vh 0;
}

.air-legend-dot {
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  flex-shrink: 0;
}

.air-legend-text {
  display: flex;
  flex-direction: column;
  line-height: 1.2;
}

.air-legend-text .label {
  font-weight: 600;
}

.status-bar {
  display: flex;
  align-items: center;
  color: white;
  padding: 4%;
  margin-bottom: 3%;
  margin-top: 3%;
  border-radius: 0.5vh;
  font-size: 1.8vh;
  font-weight: 600;
  color: white;
  backdrop-filter: blur(6px);
}

.status-bar h4 {
  padding-left: 2%;
  font-weight: 500;
}

.status-dot {
  width: 1.7vh;
  height: 1.7vh;
  margin-right: 2%;
  background: white;
  border-radius: 50%;
  flex-shrink: 0;
}
